.hero{
  background: #acb7bc;
}

.header{
    font-family: "Caveat", cursive;
}

.btn{
    background-color: #c5d2d9;
}

.footer{
    background-color: #c5d2d9;
    max-width: 100%;
    position: absolute;
    left: 0;   
}

/*.table{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    justify-content: center;
    align-items: center; 
}*/

.table{
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    align-items: center; 
}



#copyright{
    color: white;
}

.nav-link{
    color: gray;
}

.nav-link:hover span {
    color: white!important;
}